<section class="cartSection" id="cartSection">
  <h2 class="sectionTitle">Cart</h2>
  <div class="cartContainer">
    <div class="">
      <div class="cartContainer__top">
        <a class="returnBtn" href="/products">
          <i class="fa-solid fa-arrow-left"></i>
          <h4>Return</h4>
        </a>
        <button class="clearProductsBtn">Clear</button>
      </div>
      <div class="cartContainer__sections">
        <h3 class="cartContainer__section productSection">Product</h3>
        <h3 class="cartContainer__section unitsSection">Units</h3>
        <h3 class="cartContainer__section productSection">Price</h3>
      </div>
    </div>
    <div class="cartList">
      {{#each products}}
        <div class="cartItem">
          <div class="cartItem__product cartItem__section">
            <img
              class="cartItem__product--img"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
              alt="product image"
            />
            <div class="cartItem__product--info">
              {{!-- <h2 class="productTitle">{{this.product.name}}</h2> --}}
              <h4 class="productCategory">Categoría</h4>
            </div>
          </div>
          <h2 class="cartItem__units">{{this.units}}</h2>
          <div class="cartItem__price cartItem__section">
            {{!-- <h2 class="cartItem__price--price">{{this.price}} €</h2> --}}
            <button class="deleteItem" value="{{this.id}}">
              <i class="fa-regular fa-xmark"></i>
            </button>
          </div>
        </div>
        <div class="cartItem__divider"></div>
      {{/each}}
    </div>
    <div class="cartContainer__bottom">
      <h2 class="totalProducts">Products ({{totalProducts}})</h2>
      <h2 class="totalPrice">Total: {{totalPrice}} €</h2>
      <button class="btn payBtn">Pay</button>
    </div>
  </div>
</section>