<section class="productDetailSection" id="productDetailSection">
  {{#if product}}
    <a class="returnBtn" href="/products">
      <i class="fa-solid fa-arrow-left"></i>
      <h4>Return</h4>
    </a>
    <div class="productContainer">
      <div class="detailCard">
        <img
          class="detailCard-img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJiT-UHSm6w0Jperb8SitpfoAKeMUE3uynPg5YO-2Drw&s"
          alt="imagen producto"
        />
        <div class="detailCard-info">
          <div class="productCard-info">
            <h3 class="productDetailTitle">{{product.title}}</h3>
            <i class="fa-sharp fa-solid fa-star productDetailRating"><span
              >4.6</span></i>
          </div>
          <p class="productCard-category">Categoría</p>
          <p class="productPrice">{{product.price}} €</p>
          <p class="productCard-description">{{product.description}}</p>
          <div class="productQuantity">
            <p>Cantidad:</p>
            <div class="productQuantity-counter">
              <button class="productBtn subBtn">-</button>
              <p class="counter"></p>
              <button class="productBtn sumBtn">+</button>
            </div>
          </div>
          <button class="btn addBtn" value="{{product.id}}">Add to Cart</button>
        </div>
      </div>
    </div>
  {{else}}
    <h1>Not found</h1>
  {{/if}}
</section>